<div class="container">
  <a href="/administrators/photos" class="btn btn-default btn-circle">Назад</a>
  <h4>Добавить картинку</h4>
  <p id="notice"><%= notice %></p>
   <%= render 'form' %>
  <br/>
</div>