<div class="page-content">
	
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
			
			
			<div class="page-head">
				<!-- BEGIN PAGE TITLE -->
				<div class="page-title">
					<h1>Основная страница адмики</h1>
			
				</div>
			
			</div>
			
			
		</div>