<div class="container">
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <!--индикаторы слайдов -->
    <ol class="carousel-indicators">
      <li class="active" data-target="#carousel" data-slide-to="0"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
      <li data-target="#carousel" data-slide-to="3"></li>
      <li data-target="#carousel" data-slide-to="4"></li>
      <li data-target="#carousel" data-slide-to="5"></li>
      <li data-target="#carousel" data-slide-to="6"></li>
      <li data-target="#carousel" data-slide-to="7"></li>
      <li data-target="#carousel" data-slide-to="8"></li>
      <li data-target="#carousel" data-slide-to="9"></li>
    </ol>
    <!--слайды-->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <a href="#">
          <img class="img-responsive" src="http://imgdepo.com/id/i9116231" alt="">
        </a>
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>
      <div class="item">
        <a href="#">
          <img class="img-responsive" src="http://imgdepo.com/id/i9127284" alt="">
        </a>
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>
      <div class="item">
        <a href="#">
          <img class="img-responsive" src="http://imgdepo.com/id/i9127285" alt="">
        </a>
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>
      <div class="item">
        <a href="#">
          <img class="img-responsive" src="http://imgdepo.com/id/i9127289" alt="">
        </a>
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>
      <div class="item">
        <a href="#">
          <img class="img-responsive" src="http://imgdepo.com/id/i9127286" alt="">
        </a>
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>
      <div class="item">
        <a href="#">
          <img class="img-responsive" src="http://imgdepo.com/id/i9127287" alt="">
        </a>
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>
      <div class="item">
        <a href="#">
          <img class="img-responsive" src="http://imgdepo.com/id/i9116223" alt="">
        </a>
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>
      <div class="item">
        <a href="#">
          <img class="img-responsive" src="http://imgdepo.com/id/i9116224" alt="">
        </a>
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>
      <div class="item">
        <a href="#">
          <img class="img-responsive" src="http://imgdepo.com/id/i9116225" alt="">
        </a>
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>
      <div class="item">
        <a href="#">
          <img class="img-responsive" src="http://imgdepo.com/id/i9127288" alt="">
        </a>
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>
    </div>
    <!--стрелки переключения слайдов -->
    <a href="#carousel" class="left carousel-control" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#carousel" class="right carousel-control" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    
  </div>
</div>

<br/>
<div class="container container1">
  <img class="left1 img-responsive" src="http://imgdepo.com/id/i9127234">
  <blockquote class="blockquote-reverse">
<h3 class="opisanie text-justify">Сад-Моне... каждый уголок этого заведения окутан духом импрессионизма. Настолько живой и наполненный природной атмосферой он позволяет ощущать себя расслабленно и уютно.
</h3>
<h3 class="opisanie text-justify">
 Дизайн интерьера – это оригинальное сочетание стиля «винтаж» и современности. Эти элементы декора так же известны под названием «шебби шик» или «потертая элегантность». Попадая внутрь, создается впечатление, что это место знает очень много интересных историй, и ему точно есть, что вам поведать. Здесь все дышит стариной! 
</h3>
<h3 class="opisanie text-justify">
Время повернулось вспять…и замерло для вас. Забываются любые проблемы, вы счастливы в этом месте и эту минуту. Утро. Город. Суета. Запах свежезаваренного кофе и вкусной еды. Счастье затаилось в каждом углу: оцарапанных стенах, в старинных книгах, в улыбке официанта и в вас самих!
Именно здесь начинается Ваш счастливый день! Хорошо там, где Вас всегда ждут!
<footer>Сад Моне... идеальное место, для идеального дня.</footer>
</h3>
</blockquote>
</div>